.buttonContacts__component {
  .button_contacts {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin: 10px;
    background-color: 0 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 0 15px 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
    border: none;
    outline: none;
    span {
      font-family: sans-serif;
      font-size: 22px;
      line-height: 30px;
    }
    &:hover {
      border: none;
      outline: none;
    }
    &:active {
      border: none;
      outline: none;
    }
  }
}
