.socialComponent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  .social__iconWrapper {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
