/* -- section products -- */

.products {
  margin: 10px auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background: radial-gradient(rgba(18, 40, 98, 1), rgba(5, 11, 25, 1));

  .products__content__bg {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 90%;
    height: auto;
    z-index: 1;

    img {
      width: 75%;
    }
  }

  .products__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 20px auto;
    z-index: 2;

    .products__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: 10px;
      transition: 0.5s ease;
      box-shadow: 11px 11px 23px 3px rgba(0, 0, 0, 0.56);
      -webkit-box-shadow: 11px 11px 23px 3px rgba(0, 0, 0, 0.56);
      -moz-box-shadow: 11px 11px 23px 3px rgba(0, 0, 0, 0.56);
      z-index: 1;

      &:hover {
        transition: 0.5s ease;
        box-shadow: 11px 11px 15px 1px rgba(0, 0, 0, 0.56);
        -webkit-box-shadow: 11px 11px 15px 1px rgba(0, 0, 0, 0.56);
        -moz-box-shadow: 11px 11px 15px 1px rgba(0, 0, 0, 0.56);
      }

      .products__image {
        margin: 10px;
        width: 45%;

        img {
          width: 100%;
        }
      }

      .products__description {
        margin: 10px;
        width: 45%;
        text-align: end;

        p {
          margin: 10px;
          color: rgba(255, 255, 255, 0.8);
          font-family: cursive;
          font-size: 25px;
          text-align: end;
        }

        .button2__wrapper {
          margin: 10px;
          text-align: end;
          .button2 {
            margin: 10px;
            cursor: pointer;
            background-size: 220%;
            background-image: linear-gradient(
              45deg,
              rgba(18, 39, 95, 0.8),
              rgba(5, 11, 25, 0.8),
              rgba(18, 39, 95, 0.8)
            );
            border-radius: 15px;
            box-shadow: 11px 11px 23px 3px rgba(0, 0, 0, 0.56);
            -webkit-box-shadow: 11px 11px 23px 3px rgba(0, 0, 0, 0.56);
            -moz-box-shadow: 11px 11px 23px 3px rgba(0, 0, 0, 0.56);
            transition: 0.5s ease;
            border: none;
            outline: none;
            padding: 15px 20px;

            span {
              letter-spacing: 1px;
              color: #fff;
              text-transform: uppercase;
              text-shadow: 0 1px 2px #000;
            }

            &:hover {
              background-position: right;
            }
            &:active {
              background-position: top;
              outline: none;
              border: none;
              box-shadow: 11px 11px 15px 1px rgba(0, 0, 0, 0.56);
              -webkit-box-shadow: 11px 11px 15px 1px rgba(0, 0, 0, 0.56);
              -moz-box-shadow: 11px 11px 15px 1px rgba(0, 0, 0, 0.56);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .products__item {
    position: absolute;
    width: 100px;
    height: 150px;
  }
  .products__imgBox {
    width: 80px;
    height: 80px;
  }
  .products__contentBox p {
    font-size: 12px;
  }
  .products__description {
    width: 200px;
    height: 300px;
  }
}
