/* section promo */

.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.promo__bg__video {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-10%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: -10;
}
.promo__bg__video::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  background-color: #040006;
  z-index: -9;
}
.promo__bg__video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #39323a;
  opacity: 0.5;
  z-index: -8;
}
.bg__video {
  height: 100%;
  transform: scale(1.5);
  z-index: -11;
}
.promo__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  border-radius: 10px;
  filter: url(#fire);
}

.form__new__price,
.promo__title__text {
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 900;
  line-height: 52px;
  letter-spacing: 5px;
  color: #ffeb3b;
  text-transform: uppercase;
  text-shadow: 0 0 10px #ff8c3b, 0 0 40px #ff8c3b, 0 0 80px #ff8c3b,
    0 0 160px #ff8c3b, 0 0 240px #ff8c3b;
}
.form__new__price {
  filter: url(#fire2);
}

.promo__content {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__content__left {
  margin: 40px auto;
  flex-basis: 45%;
  text-align: center;
  outline: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    45deg,
    rgba(48, 48, 48, 0.5),
    rgba(140, 140, 140, 0.9),
    rgba(48, 48, 48, 0.5)
  );
}
.promo__content__left img {
  height: 400px;
  margin: 40px auto;
}
.promo__content__right {
  margin: 20px auto;
  flex-basis: 45%;
  text-align: start;
}
.promo__content__right__description ul li {
  margin: 5px auto;
  text-indent: 20px;
  text-align: justify;
  font-family: cursive;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1.5px;
  color: #c0c0c0;
}
.promo__content__right__button {
  width: 100%;
  height: 70px;
  text-align: center;
}
.promo__content__right__button .button {
  margin: 20px auto;
}

.button {
  display: block;
  width: 150px;
  line-height: 36px;
  color: #1b1b1b;
  background-color: #eeb600;
  padding: 5px 50px 4px 20px;
  font-size: 16px;
  display: block;
  position: relative;
}
.button::before {
  font-family: "icomoon";
  content: "\f00c";
  position: absolute;
  right: 22px;
  color: #1b1b1b;
}
@media (max-height: 800px) {
  .promo {
    display: block;
  }
  .promo__bg__video {
    top: 100px;
  }
}
@media (max-width: 768px) {
  .promo {
    height: auto;
  }
  .promo__bg__video {
    top: 70px;
  }
  .bg__video {
    transform: scale(2.5);
  }
  .promo__content {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .promo__content__left {
    flex-basis: 90%;
    height: 250px;
  }
  .promo__content__left img {
    height: 300px;
  }
  .promo__content__right {
    flex-basis: 90%;
  }
}
@media (max-width: 600px) {
  .promo__title__text {
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 10px;
  }
  .promo__bg__video {
    top: 30%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 300px;
    border-radius: 10px;
  }
  .bg__video {
    transform: none;
  }
  .promo__content__left {
    background: none;
    border: none;
    box-shadow: none;
  }
  .promo__content__right__description ul li {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
  }
}
