// @keyframes slider__slideLeft {
//   0% {
//     left: 0;
//   }
//   100% {
//     left: -120%;
//   }
// }

.testimonial__section {
  background-color: rgba(21, 21, 21, 0.9);
  .container {
    .testimonial__content {
      height: 450px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;

      .slider {
        width: 100%;
        height: 450px;
        position: relative;
        overflow: hidden;

        input {
          display: none;
        }

        input#slider__item__1:checked ~ nav label[for^="slider__item__1"],
        input#slider__item__2:checked ~ nav label[for="slider__item__2"],
        input#slider__item__3:checked ~ nav label[for="slider__item__3"],
        input#slider__item__4:checked ~ nav label[for="slider__item__4"] {
          background-color: rgba(255, 255, 255, 0.5);
        }

        input#slider__item__1:checked ~ section:nth-of-type(1),
        input#slider__item__2:checked ~ section:nth-of-type(2),
        input#slider__item__3:checked ~ section:nth-of-type(3),
        input#slider__item__4:checked ~ section:nth-of-type(4) {
          left: 0;
          transition: 0.5s ease;
          z-index: 1;
        }

        nav {
          position: absolute;
          left: 50%;
          bottom: 15px;
          transform: translateX(-50%);
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          z-index: 2;

          label {
            display: block;
            width: 30px;
            height: 4px;
            margin: 10px;
            background-color: #fff;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
              background-color: rgba(255, 255, 255, 0.7);
            }
          }
        }

        .slider__item {
          position: absolute;
          bottom: 0;
          right: 0;
          left: 120%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transition: 0.5s;
          padding: 25px auto;

          .slider__img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
              height: 100%;
            }
          }
          .slider__testimonial {
            max-width: 90%;
            font-family: sans-serif;
            font-size: 18px;
            line-height: 26px;
            text-indent: 20px;
            letter-spacing: 1px;
            font-weight: 400;
            text-transform: none;
            color: #fff;
            margin: 20px auto;
          }
          .slider__autor {
            line-height: 24px;
            font-family: serif;
            font-size: 18px;
            color: #d3d2d2;
            cursor: default;
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}

// @media (max-width: 768px) {
// .testimonial__section {
//   font-size: 14px;
//   line-height: 16px;
//   letter-spacing: 1.1px;
//   font-weight: 400;
// }
// }
